<h1>Create a New Game!</h1>

<p>Note: You will not be able to change the start time of the game, so choose wisely.</p>

<%= simple_form_for @game do |f| %>

  <% @game.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>

  <%= f.input :name, label: "Name of Game" %><br>
  <%= f.input :start_time %><br>
  <p>* Time Zone <%= f.time_zone_select :time_zone %></p>
  <%= f.input :rules %><br>

  <%= f.submit "Create Game!" %>

<% end %>