<h1>Create a New Game!</h1>

<%= simple_form_for @game do |f| %>

  <% @game.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>

  <%= f.input :name, label: "Name of Game" %><br>
  <%= f.input :start_time %><br>
  <%= f.input :rules %><br>

  <%= f.submit "Create Game!" %>

<% end %>