<h1>Create an Account:</h1>

<%= simple_form_for @player do |f| %>

  <%= f.error_notification %>

  <%= f.input :first_name %><br>
  <%= f.input :last_name %><br>
  <%= f.input :email %><br>
  <%= f.input :password %><br>
  <%= f.input :password_confirmation, label: "Confirmation"  %><br>

  <%= f.submit "I'm ready!" %>

<% end %>