<div class="nav-bar bg-color-green">

  <div class="nav-bar-inner">

    <ul class="menu">
      <button><li class="element"><%= link_to "Home", root_path %></li></button>
      <span class="divider"></span>

      <ul class="menu-right">
        <button><li><%= link_to "About", about_path %></li></button>
        <% if current_user %>
          <button><li><%= link_to "My Profile", user_url(current_user) %></li></button>
          <button><li><%= link_to "Sign Out", destroy_user_session_url, :method => :delete %></li></button>
        <% else %>
          <button><li><%= link_to "Sign In", user_omniauth_authorize_url(:facebook) %></li></button>
        <% end %>
      </ul>

    </div>

  </div>

</div>