<div class="nav-bar bg-color-green">

  <div class="nav-bar-inner">

    <ul class="menu">
      <button><li class="element"><%= link_to "Home", root_path %></li></button>
      <span class="divider"></span>

      <ul class="menu-right">
        <button><li><%= link_to "About", about_path %></li></button>
        <% if signed_in? %>
          <button><li><%= link_to "My Profile", current_player %></li></button>
          <button><li><%= link_to "Sign Out", session_path, :method => :delete %></li></button>
        <% else %>
          <button><li><%= link_to "Sign in", new_session_path %></li></button>
          <button><li><%= link_to "Sign up now!", new_player_path %></li></button>
        <% end %>
      </ul>

    </div>

  </div>

</div>